.b_val
{
  font-size: 4vmin;
}

.b_val b
{
  display: block;
}

.beebot_button
{
  width:64px;
  height:64px;
  max-width: 8vw;
  max-height: 8vw;
  vertical-align:top;
  margin:2px;
  font-size: calc(min(32px, 4vw));
  line-height: calc(min(32px, 4vw));
  padding: 1vw;
}

.beebot_button:hover
{
    background: white;
}

.beebot_reset
{
  float:left;
  background:linear-gradient(to bottom, #fa6, #f73);
  margin-left:5vw;
}

.beebot_start
{
  float: right;
  background:linear-gradient(to bottom,#beb,#7b7);
  margin-right:5vw;
}